:root{
    --primary-colour: #478fca;
    --body-text-font: atma;
}

body{
    background-color: var(--primary-colour); /* using the variable */
}

p {
    font-family: var(--body-text-font, sans-serif); /* sans-serif is the fallback value */
}



/*Otter images*/
.mascot-img{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: fixed;
    pointer-events: none;
    top: 50%;
    left: 50%;
}

/*fish*/
#fish-area {
  position: relative;
  height: 600px; 
  overflow: hidden;
}

#water{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow:hidden;
  pointer-events:none;
}

.fish{
  position:absolute;
  width:20px;
  height:10px;
  border-radius:50% 50% 50% 50%;
  pointer-events:none;
}

.fish::after {
  content: '';
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(50%);
  rotate: 180deg;
  width: 0;
  height: 0;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid orange;
}

.group0 { background: orange; }
.group0::after { border-right-color: orange; }

.group1 { background: cyan; }
.group1::after { border-right-color: cyan; }